body {
  /* background-color: #f5f4f3; */
  background-color:  #cacaca;
  /* background-image: url("./assets/pics/grunge-wood-texture.jpg"); */
  width: 100%;
  height: 100%;
  min-height: 750px;
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
} 

.img{
  width: 33.33%;
  height: 250px;
}

.top{
  background-color: #194D33;
  /* padding:10px; */
  text-align: center;
  height: 70px;
  /* min-width: 950px; */
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.topBar{
  font-size: 30px;
  margin:10px;
  text-align: center;
}

a:link{
  color: #eeeeee;
}

a:visited{
  color: #eeeeee;
}

.logo{
    background-color: #eeeeee;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px 25px 25px 25px;
    /* position: fixed; */
    /* top: 10px;
    left: 20px; */
    /* float: left;
    margin-left: 20px; */
    position: absolute;
    left: 20px;
    /* margin: auto; */
}

.logoFoot{
  background-color: #eeeeee;
  height: 65px;
  border: 2px solid black;
  border-radius: 25px 25px 25px 25px;
  position: fixed;
  bottom: 10px;
  left: 45%;
}

.title{
  font-size: 30px;
  background-color: white;
  padding:10px;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  width: 30%;
  min-width: 250px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.card{
  font-size: 22px;
  background-color: white;
  padding:10px;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  width: 40%;
  min-width: 250px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main{
  /* text-indent: 50px; */
  font-size: 26px;
  background-color: white;
  /* background-image: url("./assets/pics/chalk.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  padding-left:50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  width: 70%;
  min-width: 250px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.indent{
  text-indent: 50px;
}

.smaller{
  font-size: 20px;
}

.bigger{
  font-size: 26px;
}

.center{
  text-align: center;
  text-indent: 0px;
}

.bottom{
  margin-bottom: 100px;
}

button{
  color: #eeeeee;
  padding:5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 5px solid black;
  border-radius: 25px;
  background-color: black;
  margin: 10px;
}

.footer{
  color: #eeeeee;
  background-color: #194D33;
  text-align: center;
  height: 50px;
  width:100%;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  margin-top: 20px;
  position: absolute;
  bottom: -100px;
}


.test{
  background-color: #194D33;
  background-color: #FFF8D6;
  background-color: #003452;
  background-color: #000000;
  background-color: #eeeeee;
}

.Accordion.Header{
  font-size: 50px;
}