body {
  /* background-color: #f5f4f3; */
  /* background-color:#7b7e85; */
  background-image: linear-gradient(180deg, #c4c6cb 0%, #7b7e85 35%, #7b7e85 100%);
  /* background-color:  #cacaca;  */
  /* background-image: url("./assets/pics/grunge-wood-texture.jpg"); */
  width: 100%;
  height: 100%;
  min-height: 550px;
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  border-bottom: #eeeeee;
  border-style: solid;
  border-width: 0px 0px 50px 0px;
} 

.sendContact{
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  text-align: center;
  width: 30%;
  min-width: 200px;
  margin-top: 20px;
  float: right;
}

.img{
  width: 33.33%;
  height: 250px;
  border-top: 10px solid black;;
}

.img2{
  width: 33.33%;
  height: 250px;
  border-top: 10px solid black;;
}

.img3{
  width: 30%;
  height: 250px;
  margin: 1.65%;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
}

.top{
  background-color: #194D33;
  /* padding:10px; */
  text-align: center;
  height: 70px;
  /* min-width: 950px; */
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.topBar{
  font-size: 30px;
  margin:10px;
  text-align: center;
}

a:link{
  color: #eeeeee;
}

a:visited{
  color: #eeeeee;
}

.logo{
    background-color: #eeeeee;
    border-radius: 25px 25px 25px 25px;
    border: 5px solid black;
    height: 180px;
    width: 35%;
    min-width: 200px;
    /* object-fit: contain; */
    float: left;
    position: relative;
    top:-215px;
    margin: 10px;
    margin-right: 2%;
}

.grey{
  background-color:  #eeeeee;
}

.main{
  font-size: 26px;
  /* background-color:  #eeeeee; */
  background: rgba(238, 238, 238, .70);
  /* background-image: url("./assets/pics/chalk.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  padding-left:50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  width: 80%;
  min-width: 250px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.mainDrop{
  font-size: 26px;
  /* background-color:  #eeeeee; */
  background: rgba(238, 238, 238, .70);
  /* background-image: url("./assets/pics/chalk.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  padding-left:25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  width: 80%;
  min-width: 250px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

/* 
.clear{
  opacity: 0.5;
} */

/* .solid{
  opacity: 1;
} */

.indent{
  text-indent: 50px;
}

.smaller{
  font-size: 20px;
}

.bigger{
  font-size: 32px;
  margin-bottom: 25px;
}

.biggerFont{
  font-size: 32px;
}

/* .bigBox{
  height: 80%;
  line-height: 1;
  word-break: break-word;
  text-align: top;
} */

.center{
  text-align: center;
  text-indent: 0px;
}

/* .bottom{
  margin-bottom: -120px;
} */

.underline{
  text-decoration: underline;
  font-size: 20px;
}

.footer{
  color: #eeeeee;
  background-color: #194D33;
  text-align: center;
  height: 50px;
  width:100%;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  margin-top: 20px;
  position: absolute;
  bottom: -100px;
}

/* .test{
  background-color: #194D33;
  background-color: #FFF8D6;
  background-color: #003452;
  background-color: #000000;
  background-color: #eeeeee;
} */

.circuit{
  width:100%;
  height: 220px;
  z-index: 0;
  border-bottom: 10px solid black;
}

/* .topZ{
  z-index: 1;
  position: relative;
  top:-100px;
} */

.mainUp{
  font-size: 36px;
  background-color:  #eeeeee;
  padding-left:50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  width: 70%;
  height: 100px;
  min-width: 250px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:-167px;
  object-fit: contain;
}

.up{
  position: relative;
  top:-170px;
}

/* .upMid{
  position: relative;
  top:-300px;
} */

.upMore{
  position: relative;
  top:-325px;
}

.upMore2{
  position: relative;
  top:-725px;
}

.office{
width:30%;
margin:10px;
margin-left: 40px;
font-weight: bold;
}

.container{
  display: flex;
}

.fullFoot{
  border-top: 10px solid black;
  height: 200px;
  background-color: #eeeeee;
}

.kids1{
width:300px;
border-radius: 25px 25px 25px 25px;
border: 5px solid black;
margin: 10px;
margin-left:25px;
float: right;
height: auto;
display: flex;
align-items: flex-end;
/* shape-outside: inset(calc(100% - 250px) 0 0); */
}

.kids2{
width:300px;
border-radius: 25px 25px 25px 25px;
border: 5px solid black;
margin: 10px;
margin-right: 25px;
float: left;
height: auto;
display: flex;
align-items: flex-end;
}

.kids3{
  width:30%;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  margin: 10px;
  margin-right: 15px;
  margin-top: 25px;
  float: right;
  height: auto;
  display: flex;
  align-items: flex-end;
  }   
  
.kids4{
/* width:300px; */
border-radius: 25px 25px 25px 25px;
border: 5px solid black;
margin: 10px;
margin-left:25px;
float: right;
height: auto;
max-height: 365px;
display: flex;
align-items: flex-end;
/* shape-outside: inset(calc(100% - 250px) 0 0); */
width: 50%;
margin-top: 10px;
margin-left: 10%;
margin-right: 0px;
margin-bottom: 10px;
height: auto;
}
  
.sidePics{
  width:auto;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  margin-bottom: 10px;
  float: right;
  height: 200px;
  /* display: flex; */
  /* align-items: flex-end; */
}

.right{
width: 30%;
float: right;
}

.left{
margin-top: 10%;
}

.contactLeft{
width: 100%;
margin: 5px;
}

.contactRight{
width: 100%;
margin: 5px;
}

.wrap{
  display: flex;
  position: relative;
}

.underline2{
  text-decoration: underline;
}

.addMargin{
  margin:10px ;
}

.rel{
position: relative;
}

.abs{
/* position: absolute; */
width: 40%;
margin-top: 10px;
margin-left: 105px;
margin-right: 0px;
margin-bottom: 10px;
height: auto;
}

/* .text{
  width:50%;
} */

.full{
  width:70%
}

.half1{
  font-size: 26px;
  background-color:  #eeeeee;
  /* background-image: url("./assets/pics/chalk.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  padding-left:50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  width: 85%;
  min-width: 250px;
  /* margin: 10px; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:-170px;
}

.half2{
  font-size: 20px;
  background-color:  #eeeeee;
  /* background-image: url("./assets/pics/chalk.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  padding-left:50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  width: 85%;
  min-width: 250px;
  /* margin: 10px; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:-170px;
}

.wider{
width:100%;
}

.mTop{
  margin-top: 10px;
}

.topPics{
  width:45%;
  margin:5px;
}

.office2{
  width:100%;
  font-size: 18px;
  /* font-weight: bold; */
  }

.topZ{
    z-index: 1;
    /* position: relative; */
  }

.web{
  width:85%;
  height: 350px;
  margin:20px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid black;
  display: flex;
  align-items: flex-end;
}

.compFoot2{
  width:100%;
  height: auto;
  max-height: 600px;
  z-index: -1;
  position:absolute;
  bottom: 200px;
  transform: scalex(-1);
}

.compFoot{
  width:100%;
  height: auto;
  /* margin-top: -700px; */
  z-index: -1;
  position:absolute;
  bottom: 200px;
  transform: scalex(-1);
}

/* .z0{
  z-index: 0;
  position:absolute;
  bottom:200px;
} */

.z1{
  z-index: 1;
  /* position:absolute; */
}

/* .moreBottom{
  margin-bottom: 100px;
} */

.round{
  border-radius: 25px 25px 25px 25px;
}

/* .accordion-item{
  border-radius: 25px 25px 25px 25px;
} */